# logs
debug.log
# node
node_modules/
# Compiled files
server/out/
client/out/
out/
*.js.map
**/tsconfig.tsbuildinfo

.eslintcache
**/.vscode-test

resources/poky*

integration-tests/project-folder/build
