# logs
debug.log
# node
node_modules/
# Compiled files
client/server/
client/out/
out/
*.js.map
**/tsconfig.tsbuildinfo
client/*.vsix

.eslintcache
coverage/
**/.vscode-test

resources/
client/resources/
integration-tests/project-folder/build*
