__mocks__/
.github/
.vscode/
integration-tests/
resources/
scripts/
client/src
server/src
server/.npmignore
server/parser.info
**/*.d.ts
**/__tests__
**/test
**/*.map
**/tsconfig.*
**/.gitignore
**/.eslint*
**/jest.config.js
**/*.vsix
**/*.tgz